//$enable-shadows:            true !default;
// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #346EB4 !default;
$indigo:  #6610f2 !default;
$purple:  #8C3982 !default;
$pink:    #E40350 !default;
$red:     #ED5D47 !default;
$orange:  #ED5D47 !default;
$yellow:  #F6B63E !default;
$green:   #51AC31 !default;
$teal:    #428D73 !default;
$cyan:    #17a2b8 !default;
$lightgreen: #A3B138 !default;
$brown: #7C3025 !default;

$primary:       $green !default;
$secondary:     $pink !default;
$success:       $lightgreen !default;
$info:          $blue !default;



$link-color:                $info !default;

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-base:            $font-size-lg !default;
$line-height-base:            1.5 !default;


$krs-font: "315karusel";

$spacer: 1rem !default;
$headings-margin-bottom:      ($spacer * 1.5) !default;
$headings-font-weight:        bold !default;
$headings-color:              $brown !default;
$headings-font-family:        $krs-font !default;
$lead-font-weight:            normal !default;
$paragraph-margin-bottom:   1.5rem !default;

$input-btn-padding-y-lg:      0.6875rem !default;
$input-btn-padding-x-lg:      1rem !default;

$input-btn-padding-x:         1rem !default;
$border-width:                2px !default;
//$btn-border-width: 0 !default;
$btn-font-weight: 500 !default;
$btn-border-radius:           2px !default;
$btn-border-radius-lg:        2px !default;
$btn-border-radius-sm:        2px!default;

$btn-transition:              color .15s ease-in-out, border-radius .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$alert-padding-y:                   .625rem !default;
$form-check-input-gutter:               2rem !default;


$badge-padding-y:                   .5em !default;
$badge-padding-x:                   .5em !default;


// Cards

$card-spacer-y:                     1rem !default;
$card-spacer-x:                     1rem !default;
$card-border-width:                 0 !default;

$card-border-color:                 rgba($black, .125) !default;

$card-cap-bg:                       rgba($black, .03) !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          1.25rem !default;

ul li:first-child{
  color: black;
}