@import "custom";
@import "~bootstrap/scss/bootstrap";

h1, .h1 { line-height: 48px; }
h2, .h2 { line-height: 40px; }
h3, .h3 { line-height: 32px; }
h4, .h4 { line-height: 28px; }
h5, .h5 { line-height: 24px; margin-bottom: .5rem; }
h6, .h6 { line-height: 20px; }
.lead{
  line-height: 2rem;
}
.btn{
  //font-size: 0.875rem;
  text-transform: uppercase;
  //line-height: 24px;
  @include hover-focus {
    text-decoration: none;
    border-radius: 8px;
   // box-shadow: 0 12px 24px rgba($color: #000000, $alpha: .2);
  }
}